################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/XHZNL.EFDynamicDatabaseBuilding.BusinessEntity/bin/Debug
/XHZNL.EFDynamicDatabaseBuilding.BusinessEntity/obj/Debug
/XHZNL.EFDynamicDatabaseBuilding.Common/bin/Debug
/XHZNL.EFDynamicDatabaseBuilding.Common/obj/Debug
/XHZNL.EFDynamicDatabaseBuilding.MasterEntity/bin/Debug
/XHZNL.EFDynamicDatabaseBuilding.MasterEntity/obj/Debug
/XHZNL.EFDynamicDatabaseBuilding.Web/bin
/XHZNL.EFDynamicDatabaseBuilding.Web/obj/Debug
