USE [masterdb]
GO
/****** Object:  Table [dbo].[Enterprises]    Script Date: 02/27/2020 12:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enterprises](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DBName] [nvarchar](100) NOT NULL,
	[AdminAccount] [nvarchar](20) NOT NULL,
	[AdminPassword] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Enterprises] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Enterprises] ([ID], [Name], [DBName], [AdminAccount], [AdminPassword]) VALUES (N'ee77ed7c-2ae1-4ed5-9301-36d0d08e2d7f', N'企业A', N'BusinessDB637184034764024289', N'aa', N'123456')
INSERT [dbo].[Enterprises] ([ID], [Name], [DBName], [AdminAccount], [AdminPassword]) VALUES (N'71efb89c-64e5-4e38-ae1f-c9e62dba055e', N'企业B', N'BusinessDB637184035544250702', N'bb', N'123456')
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 02/27/2020 12:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
